html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    align-items: center;
}

/* section dessert */
.section-dessert {
    position: relative;
    padding: 7rem 1rem;
    background-image: url('../img/dessert3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 90%;
    z-index: 0;
}

.section-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: -1;
}

.card-dessert {
    padding: 2rem 0;
    width: 450px;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 250, 250);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .4);
    z-index: 10;
}

.card-dessert-img-wrapper img {
    width: 300px;
    height: 300px;
}

.card-dessert-content-wrapper {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-dessert-title {
    margin: 1rem 0;
    font-size: 3.2rem;
    font-weight: lighter;
    text-align: center;
}

.card-dessert-info {
    margin: .5rem 0;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.5;
}

.card-dessert-button {
    margin-top: 0.5rem;
    padding: 1.2rem 2.5rem;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(255, 133, 61);
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(255, 133, 61, .97);
    transition: background-color .3s, box-shadow .3s;
}

.card-dessert-button:hover {
    background-color: rgb(247, 155, 103);
    box-shadow: 2px 2px 2px 2px rgba(247, 155, 103, 0.97);
}

.dessert-img-wrapper {
    position: absolute;
    left: 44%;
    width: 420px;
    height: 530px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, .4);
}

.dessert-img-wrapper img {
    width: 100%;
    height: 100%;
}

/* card-recipe */
.card-recipe {
    padding: 10rem 12rem 10rem 11rem;
    width: 330px;
    height: 330px;
    color: #fff;
    background-color: #ff873a;
}

.card-featured-recipe {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.card-recipe-title {
    font-size: 3.2rem;
    font-weight: lighter;
}

.card-recipe-title span {
    font-family: 'Courgette',cursive;
}

.recipe-img-wrapper img {
    width: 500px;
    height: 350px;
    z-index: 10;
}


/* section-secret-recipe */

.section-secret-recipe {
    padding: 4rem 2rem;
    background: rgb(251, 252, 223);
    background: linear-gradient(129deg, rgba(251, 252, 223, 1) 0%, rgba(233, 223, 245, 1) 100%);
}

.content-info {
    text-align: center;
}

.content-title {
    font-size: 3rem;
    font-weight: lighter;
}

.content-text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}



/* section-dessert-recipe */

.section-dessert-recipe {
    padding: 4rem 2rem;
    background: rgb(251, 252, 223);
    background: linear-gradient(129deg, rgba(251, 252, 223, 1) 0%, rgba(233, 223, 245, 1) 100%);
}

/* footer */

.footer-content {
    padding: 1rem 0 2rem;
    text-align: center;
    font-size: 1.2rem;
    word-spacing: 2px;
}

.footer-link {
    color: rgb(74, 201, 252);
}